
@{
    ViewData["Title"] = "Customer";
}

<h1>Customers</h1>

<div class="container">
    <table class="table table-responsive">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Customer Id</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer City</th>
                <th scope="col">Customer Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th align="center" scope="row">1</th>
                <td>Sam</td>
                <td>Chennai</td>
                <td>sam@gmail.com</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>John</td>
                <td>Coimbatore</td>
                <td>john123@gmail.com</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Saran</td>
                <td>Madurai</td>
                <td>saran123@gmail.com</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Rishi</td>
                <td>Theni</td>
                <td>rishi123@gmail.com</td>
            </tr>
        </tbody>
    </table>

</div>
